<li>
  <span class="content">
    <%= truncate(post.content, :length => 75, :omission => '...') %>
  </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(post.created_at) %> ago.
  </span>
  <%# if current_user == post.user %>
      <%#= link_to "delete", post, :method => :delete,
          :confirm => "You sure?",
          :title => post.content %>
  <%# end %>
</li>