<!DOCTYPE html>
<html>
<head>
  <title>Minitweet</title>
  <%= stylesheet_link_tag    "minitweet/application", :media => "all" %>
  <%= javascript_include_tag "minitweet/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
